@{
    ViewData["Title"] = "Gallery";

    // get data passed in from controller
    List<Photo> photos = ViewBag.photos;
    string uploadDir = ViewBag.uploadDir;
}


<div style="text-align:center">
    <div class="file-uploader">
        <form method="post" enctype="multipart/form-data" action="/Home/UploadFile">
            <!-- only accepts images for uploading -->
            <input type="file" name="myfile" accept="image/*">
            <input type="submit">
        </form>
    </div>
</div>

<p></p>

<table width="100%">
<table align="center">

@{
    bool opened = false;
    int i;

    for (i = 0; i<photos.Count; i++)
    {
        @* 3 images per row *@
        if (i % 3 == 0)
        {
            @* only close if we are inside one *@
            if (opened)
            {
                @:</tr>
            }

            @:</tr>
            opened = true;
        }

        Photo photo = photos[i];

        @:<td width="300px" height="300px">
            <img id="@photo.Id" class="my_img" src="@uploadDir/@photo.Filename" />
        @:</td>
    }

    if (photos.Count > 0) 
    {
        @* padding if not enough images to form an entire row *@
        while (i % 3 != 0)
        {
            <td width="300px" height="300px"></td>
            i++;
        }

        @* close off final row *@
        @:</tr>        
    }
}

</table>
</table>

