@{
    ViewData["Title"] = "Gallery";
}


<div style="text-align:center">
    <div class="file-uploader">
        <form method="post" enctype="multipart/form-data" action="/Home/UploadFile">
            <!-- only accepts images for uploading -->
            <input type="file" name="myfile" accept="image/*">
            <input type="submit">
        </form>
    </div>
</div>

